body {
  font-size: 20px;
  font-family: "Arial";
  margin: 0;
}



/*.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
*/
/* navbar background 
.navbar {
    border-radius: 8px;
    width: 100%
    display: inline-block;
    background-color:#878f99;
    overflow: hidden;
    color: #f2f2f2;
    margin: 8px 0px;
    padding: 50px 80px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

.navbar a:hover {
    background-color:black;
    color: white;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.navbar-header {
    width: 30%;
    float: center;
    display: inline;
}

.navbar-aboutme {
    width: 30%;
    float: center;
    display: inline;
}

.navbar-publication {
    width: 30%;
    float: center;
    display: inline;
}*/

/*
nav ul{
  background:#b2ad7f;
  float: left;
}

nav ul li{
  color: #444;
  display: inline-block;
  list-style-type: none;
  padding: 0px 10px
}

nav ul li a{
  color: #444
}
*/

.header {
  text-align: center;
  width: 100%
}

.header h1 {
  padding: 40px 0px
}


.nav {
  list-style-type:none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: #878f99;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav li {
  float:left;
}

.nav li a {
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: black;
  color: white;
}


.nav li a.active {
  background-color: #4CAF50;
}
 
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column{
  width: auto;
  float: left;
  padding: 10px 40px 15px 5px
}

.column img {
  border-radius: 8px;
  float: middle;
}

.column p{
  padding: 15px 0px 0px 0px
}

.travel {
  margin: 15px 15px 15px 15px
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%
  background: #999;  
  margin: 10px 0px 10px 10px
}





