body {
  font-size: 20px;
  font-family: "Arial";
  margin: 0px;
  background-color: rgb(235,235,235);
  width: 100%;
}

.header {
  text-align: center;
  margin: 0px;
  width: 100%;
  
}

.header h1 {
  font-family: Helvetica;
  font-size: 45px;
  padding: 15px 0px 8px 0px
}

/*  navigation */
.nav {
  list-style-type:none;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #878f99;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align:center;
}

.nav li {
  display: inline-block;
  overflow: hidden;
}

.nav a {
  font-family: "Times";
  display: inline-block;
  width: 100px;
  color:white;
  padding: 14px 50px;
  text-decoration: none;
  overflow: hidden;
}

.nav li a:hover {
  background-color: black;
  color: white;
}


.nav li a.active {
  background-color: #4CAF50;
}

/* brief intro about me*/ 
.first {
  background: rgb(220,220,220);
  width: 100%;
  height: 460px;
  margin: 0px;
  overflow: hidden;
}


.second {
  width: 100%;
  height: 400px;
  background-color: #f5f5dd;
}

#secondtitle {
  margin: auto;
  color: navy;
  font-size: 35x;
  padding: 15px 0px 0px;
}

.footer {
  width: 450px;
  font-size: 14px;
  color: rgb(128,128,128);
  margin: auto;
  overflow: hidden;
}





