body {
  background:white;
  font-family: arial;
}

a {
  color:blue;
}

img {
  border: 1px solid #ddd
  border-radius: 8px;
  padding: 10px 40px 0px 0px
}

.column {
  float: left
  height: 300px
}

.left {
  width: 30%
}

.right {
  width: 70%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
