/* education*/
.education {
  background: white;
}


.content-wrap {
  padding: 30px 50px;
 box-sizing: border-box;
}

.content-wrap.col-narrow1 h2{
    font-family: 'Caveat', cursive;
}

.content-wrap:after {
    content: "";
    display: table;
    clear: both;
}

/* projects */
.projects {
    background: #EDF2F4;
}
.bullet{
   padding: 0px 0px 0px 60px;
}

/* courses */
.courses{
  padding: 30px 50px;
  background: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



@media (min-width: 900px) {
  .col-narrow1 {
    width: 40%;
    float: left;
    height: 210px
  }
  .col-wide1 {
    width: 60%;
    float: left;
    height: 210px
  }
  .col-narrow2 {
    width: 40%;
    float: left;
    height: 130px
  }
  .col-wide2 {
    width: 60%;
    float: left;
    height: 130px
  }
}
